{% extends '@EasyAdmin/layout.html.twig' %}
{#{% extends '@EasyAdmin/page/content.html.twig' %}#}

{% block main %}
    <div id="chart"></div>
{% endblock main %}

{% block body_javascript %}

{% endblock body_javascript %}
